<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= pokenea.nombre %> - Pokenea</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1><%= pokenea.nombre %></h1>
    <img src="<%= pokenea.imagen %>" alt="<%= pokenea.nombre %>" width="300" />
    <p><em>"<%= pokenea.frase %>"</em></p>
    <p><strong>ID Contenedor:</strong> <%= containerId %></p>
  </div>
</body>
</html>
